

h1{
    color: red;
}

@media screen and (min-width: 600px){
    h1{
        color: blue;
    }
}
@media screen and (min-width: 900px){
    h1{
        color: yellow;
    }
}




@media print and (orientation: landscape){
    h1{
        color: hotpink;
    }
}