
@media screen and (max-width: 600px){
    h1{
        color: yellow;
    }
}
@media screen and (max-width: 300px){
    h1{
        color: blue;
    }
}

@media screen and (max-width: 100px){
    h1{
        color: violet;
    }
}


@media print and (orientation: landscape){
    h1{
        color: hotpink;
    }
}