body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background-color: #a2d2ff;
    color: #ffffff;
}

.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

#h1{
    text-shadow: 0px 0px 1px black;
}

#h2{
    text-shadow: 0px 0px 1px black;
}

#h3{
    text-shadow: 0px 0px 1px black;
}