body{
    text-align: center;
    color:  #82a5ca;
    font-family: "Orbitron", sans-serif;
}
#hero {
    background-image: url("images/giphy\ \(2\).gif");
    background-size: cover;
    padding: 10px 0 40px 0;
}
.btn{
    text-align: center;
    background-color: aliceblue;
    color:  #82a5ca;
    font-size: medium;
    padding: 6px 12px;
    font-family: "Orbitron", sans-serif;
    font-weight: bolder;
}
.ex{
    text-shadow: 0px 0px 4px black;
    border-bottom: 4px solid white;
}

#isro{
    width: 200px;
}

.conditions{
    color:  #82a5ca;
    text-align: center;
    font-weight: 900;
}