.one{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 5px;
    position: static;
    
}


.two{
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 5px;
    position: relative;
    left: 50px;
    color: white;
    top: 50px;
    z-index: 3;
}

.three{
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 5px;
    position: relative;
    z-index: 1;
}

#hi{
    margin-top: 200px;
    margin-left: 100px;
    border: solid black 2px;
    width: 200px;
    height: 100px;
    
}

p{
    position: absolute;
    left: 200px;
}