body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/*
Challenge:
Set the width of the image to 150px.
PS: Use a class to select the img element.

Challenge 2:
1. Give the card div a class (name it "card")
2. Select the card class and give it a dotted blue border
3. Add 20 pixels of padding on all sides of the card

Challenge 3:
Create a utility class for the dotted blue border.
Give the class to both flexbox children in the HTML.

Challenge 4:
    Add horizontal space around the flex children.
    Hint: google "justify content" 



*/

.image{
    width: 150px;
    height: 150px;
}

.card{
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin:  0 auto;
    text-align: center;
    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 6px solid #d8cefe;
   
}

.border_blue{
    border: 2px dotted blue;
}