.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-right: 100px;
    
    /*
    Challenge:
    Add padding to make our card look like
    the provided design */
}

/* 
Challenge: 
Make the button look like Twitter's "Following" button!
(Except for the font)

Hints:
border color: #cfd9de
text color: #0f1419
Remember the font-weight!
*/

button{
    border: 2px solid #cfd9de;
    color: #0f1419 ;
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    background-color: white;
}