*{
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 30px;
    margin-bottom: 25px;
}

p{
    padding: 6px;
    margin-bottom: 25px;
}

input{
   padding: 2px 5px;
   margin-bottom: 8px;
   border: 3px solid #121212; 
}

button{
     padding-left: 50px;
     padding-right: 50px;
     border: 3px solid #121212; 
     color: white;
     background-color: #121212;
     
}

a{
    color: #121212;
}