/*
Challenge 1:
Select the img tag and set the width 
of the Google logo to be 300px.
*/

/* Challenge 2: 
    Add some space (margin) above our image!
    Do you remember how we added spacing in the 
    cookie widget example?
    */

/*
Challenge 3: 
Add some space between the logo 
and the search field.

What are the two different ways 
we can do this with margins?

Challenge 4:
Center the logo and the search field.

*/
/*
    Challenge 5: 
    Design the search field according to the spec
    */

.main{
        margin-top: 100px;
        text-align: center;
        
        
}

.text-field {
   margin-left: auto;
   margin-right: auto;
    width: 400px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 24px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
}
 
 .image{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 300px ;
    display: block;
 }

 
.btn{
   
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #dfe1e5;
    font-size: medium;
    border: 1px solid;
    border-radius: 15px;
}