/*
Challenge 1:
Select the img tag and set the width 
of the Google logo to be 300px.
*/

/* Challenge 2: 
    Add some space (margin) above our image!
    Do you remember how we added spacing in the 
    cookie widget example?
    */

/*
Challenge 3: 
Add some space between the logo 
and the search field.

What are the two different ways 
we can do this with margins?

Challenge 4:
Center the logo and the search field.

*/

.main{
        margin-top: 100px;
}

.text-field {
   margin-left: auto;
   margin-right: auto;
    width: 400px;
    display: block;
}
 
 .image{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 300px ;
    display: block;
 }

 
