body {
    margin:0;
}

.red {
    background: #c71226;
    height: 100px;
    margin-bottom: 50px;
    /*Challenge:
    Add 100px of margin on the bottom of the red box. */
    
}

.blue {
    background: #0d1b88;
    height: 100px;
    
    margin-bottom: 50px;
    /* Challenge: 
    Create the flag of The Gambia.
    But only by applying styles to the blue box! */
}

.green {
    background: #397327;
    height: 100px;
}



